{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article id="{{id}}" class="post tag-android tag-ke-hu-duan {{post_class}}">

    <div class="post-head">
        <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        <div class="post-meta">
            <span class="author">作者：<a href="{{author.url}}">{{author.name}}</a></span> •
            <time class="post-date" datetime="{{date format='YYYY年MM月DD日'}}" title="{{date format='YYYY年MM月DD日'}}">{{date format='YYYY年MM月DD日'}}</time>
        </div>
    </div>
    <div class="featured-media">
		{{!有封面的时候展示封面}}
        {{#if profile_image}}
        <a class="post-pic hidden-xs" href="{{url}}" style="background-image: url({{profile_image}});"></a>
        {{/if}}		
        <a href="{{url}}"><img src="{{profile_image}}" alt="{{{title}}}"></a>
    </div>
    <div class="post-content">
       <p>{{excerpt characters="200"}} <a class="read-more" href="{{url}}">&raquo;</a></p>	   
    </div>
    <div class="post-permalink">
        <a href="{{url}}" class="btn btn-default">阅读全文</a>
    </div>
    <footer class="post-footer post-meta clearfix ">
		{{#if author.profile_image}}<img class="author-thumb" src="{{author.profile_image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
		{{author}}
		{{tags prefix="&nbsp;<i class=\"fa fa-tags\"></i>&nbsp;"}}
		<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY年MM月DD日"}}</time>
    </footer>
</article>
{{/foreach}}
	
{{pagination}}
  