<!-- start header -->
<header class="main-header {{#if tag.feature_image}}" style="background-image: url({{tag.feature_image}}){{else}}{{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}{{/if}}">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<!-- start logo -->
				<a class="branding" href="{{@blog.url}}" title="{{@blog.title}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" class="img-circle"></a>
				<!-- end logo -->
				<h2 class="text-hide">{{@blog.description}}</h2>

				<img src="{{@blog.cover_image}}" alt="{{@blog.title}}" class="hide">
			</div>
		</div>
	</div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">				
				<div class="navbar-header">
					<span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-bars"></i>
					</span>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="menu">
						{{#foreach navigation}}
							<li class="{{#if current}} nav-current{{/if}}" role="presentation">
								<a href="{{url absolute="true"}}">{{label}}</a>
							</li>
						{{/foreach}}
					</ul>   
				</div>
			</div>
		</div>
	</div>
</nav>
<!-- end navigation -->


