{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }} 

<main class="col-md-8 main-content" role="main">
	 	
	<!-- Open author context instead of providing full path -->
	{{#author}}   
	<div class="cover author-cover">
		<div class="avatar-wrap">
			<img src="{{img_url profile_image}}" class="avatar" alt="{{name}}"/> 
		</div>
		<h3 class="author-name">
			作者：{{name}}
		</h3>
		<div class="meta-info">
			<span class="post-count"><i class="fa fa-pencil-square-o"></i>79 篇文章</span>
			<span class="loaction"><i class="fa fa-map-marker"></i>{{location}}</span>
			<span class="website"><i class="fa fa-globe"></i><a href="http://www.test4all.cn" targer="_blank">个人网站/博客</a></span>
		</div>
		<div class="bio">{{bio}}</div>
	</div>
	{{/author}}
	
	{{! The tag below includes the post loop - partials/loop.hbs }}
	{{> loop}}
	
</main>

<aside class="col-md-4 sidebar">		

	{{! 社区导航 }}
	{{>comments}}	
	
	{{! 下载导航 }}
	{{>download}}		

	{{! 标签云 }}
	{{>tag_cloud}}
	
	{{! 友情链接 }}
	{{>flink}}
	
	{{!阿里云广告}}
	<!--{{>adv_1}} -->	
	
</aside> 