{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }} 

{{#post}}
<main class="col-md-8 main-content" role="main">
	
	<article id="{{id}}" class="{{post_class}} tag-android tag-ke-hu-duan"> 

		<header class="post-header post-head">
			<h1 class="post-title">{{title}}</h1>
			<section class="post-meta">
				<span class="author">作者：<a href="{{author.url}}">{{author.name}}</a></span> •
				 <time class="post-date" datetime="{{date format='YYYY年MM月DD日'}}" title="{{date format='YYYY年MM月DD日'}}">{{date format='YYYY年MM月DD日'}}</time>
			</section>				
		</header>	
		
		<!-- Outputs post's feature image if there is one -->
		{{#if feature_image}}
		<section class="featured-media hidden-xs">
			<img src="{{img_url feature_image absolute="true"}}" alt="{{title}}"/>
		</section>
		{{/if}}			

		<section class="post-content">
			{{content}}
		</section>


	</article>
	
	<!-- Open author context instead of providing full path -->
	{{#author}}   
	<div class="about-author clearfix">
		<a href="{{url absolute="true"}}">
			<!-- Output post author's profile image as an absolute URL -->
			<img src="{{img_url profile_image}}" class="avatar pull-left" alt="{{name}}"/> 
		</a>			
		<div class="details">
			<div class="author">
				关于作者 <a href="{{url absolute="true"}}">{{name}}</a>
			</div>
			<div class="meta-info">
				<span class="loaction"><i class="fa fa-home"></i>{{location}}</span>
				<span class="website"><i class="fa fa-globe"></i><a href="http://www.test4all.cn" targer="_blank">个人网站/博客</a></span>
			</div>
		</div>
	</div>
	{{/author}}
	
	<div class="prev-next-wrap clearfix">
		
		{{#prev_post}}
			<a class="btn btn-default" href="{{url}}"><i class="fa fa-angle-left fa-fw"></i> {{title}}</a>
		{{/prev_post}}
		&nbsp;
		{{#next_post}}
			<a class="btn btn-default" href="{{url}}"><i class="fa fa-angle-right fa-fw"></i> {{title}}</a>
		{{/next_post}}

	</div>
	
</main>
{{/post}}

<aside class="col-md-4 sidebar">		

	{{! 社区导航 }}
	{{>comments}}	
	
	{{! 下载导航 }}
	{{>download}}		

	{{! 标签云 }}
	{{>tag_cloud}}
	
	{{! 友情链接 }}
	{{>flink}}
	
	{{!阿里云广告}}
	<!--{{>adv_1}} -->	
	
</aside> 



<!-- 多说公共JS代码 start -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"请填写您自己的多说shortname"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->